{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <h1>Index</h1>

    <div>

        {% for row, value in route %}

            <div>
                <a href="{{path(value)}}">{{row}}</a>
            </div>

        {% endfor %}

    </div>

{% endblock %}
