{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <div class="flex-row">
        {% if projects is defined and projects is not empty %}
            {% for project in projects %}
                <div class="col-12 py-5 d-flex flex-wrap justify-content-around align-items-center">
                    <h1>
                        {{ project.name }}
                    </h1>
                    {% if project.overview is defined and project.overview is not empty %}
                        <img class="col-3" src="{{asset(project.overview.path)}}" alt="img"/>
                    {% endif %}
                    <div class="col-12 d-flex flex-wrap">
                        {% if project.images is defined and project.images is not empty %}
                            {% for image in project.images %}
                                <img class="col-3" src="{{asset(image.image.path)}}" alt="img"/>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
